.person-details-screen {
  display: flex;
  z-index: 20;
  gap: 128px;
  margin: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
}

.person-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative; 
}


.feedback-banner {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.3s ease-out;
}

.feedback-banner.info  {
    background-color: #ebf8ff;
    color: #2b6cb0;
    border: 1px solid #bee3f8;
}

.feedback-banner.success {
    background-color: #f0fff4;
    color: #2f855a;
    border: 1px solid #c6f6d5;
}

.feedback-banner.error {
    background-color: #fff5f5;
    color: #c53030;
    border: 1px solid #fed7d7;
}

.feedback-banner.add {
    background-color: #ebf8ff;
    color: #2b6cb0;
    border: 1px solid #bee3f8;
}