@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

:root {
  --border-test: 2px solid black;
  --color-primary: #d4a373;
  --color-terciary: #7f4f24;
  --color-quaternary:#588157;
  --color-secondary: #fefae0;
  --bg-color-primary: #faedcd;
  --height-band: 250px;
  --card-width: 100px;
  --card-height: 125px;
  --card-expanded-width: 400px;
  --card-expanded-height: 500px;
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100dvw;
  max-width: 100%;
  margin: 0 ;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}